/*************
    Layout
**************/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0;
  display: grid;
  grid-template-areas:
    "header nav"
    "main main"
    "footer footer";
  width: 100%;
}

header {
  grid-area: header;
  color: white;
  background-color: #48656d;
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: flex-end;
}

nav {
  grid-area: nav;
  color: #c4e3ec;
  background-color: #48656d;
  width: 100%;
  height: 80px;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

article {
  grid-area: main;
  background-color: #8fc9d9;
  width: 100%;
  min-height: 500px;
  height: auto;
  text-align: center;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: #48656d;
  width: 100%;
  height: 50px;
  padding: 10px;
}

/******************* 
 General components
********************/

a {
  text-decoration: none;
}
header a {
  color: #fff;
}
.headerS {
  color: #c4e3ec;
  font-size: 4em;
  margin-top: 0px;
  margin-right: 0.25em;
  margin-left: 0.25em;
}
.headerLogo {
  font-size: 1.5em;
  line-height: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  margin-right: 0.5em;
}
.headerSub {
  font-size: 0.9em;
  color: #c4e3ec;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 10px;
}

nav a {
  font-size: 1.2em;
  color: #8fc9d9;
  font-weight: bold;
  padding: 5px 15px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 1.2em;
  border: none;
  outline: none;
  color: #8fc9d9;
  font-weight: bold;
  background-color: inherit;
  font-family: inherit;
  padding: 5px 15px 0px 15px;
}

nav a:hover,
.dropdown:hover .dropbtn {
  color: #243236;
  border-top: 4px solid #243236;
  font-weight: bold;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
h1.appName {
  font-size: 2em;
  text-align: center;
}

.logout {
  line-height: 12px;
  width: 100px;
  font-size: 8pt;
  margin-top: 15px;
  margin-right: 2px;
  position: absolute;
  top: 10px;
  right: 35px;
}
/*************
   Home Page
**************/
.homeBox {
  width: 30%;
  background-color: #c4e3ec;
  text-align: center;
  justify-content: center;
  padding: 20px;
  margin: 20px auto;
}
.homebox div a {
  color: #243236;
  font-size: 1.1em;
  font-weight: 700;
}
.homeBox div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 130px;
  border: 4px solid #243236;
  border-radius: 30px 0 30px 0;
  transition: 0.3s;
  margin: 10px auto;
  padding-top: 20px;
}
.homeBox div:hover {
  background-color: #243236;
  color: #fff;
}
.homeBox a:hover {
  color: #fff;
}
p {
  font-size: 0.75em;
  margin-top: 10px;
}

/****************
   Profile Page
*****************/
.container {
  padding: 16px;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

.profile {
  /*width: 50%;
    left: 50%;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

  max-width: 500px;
  margin: auto;
  padding: 10px;
}

/*body {
	font-family: Arial, Helvetica, sans-serif;
    background-color: #48656d;
	}
  */
/*form {
	border: 3px solid black;
	border-bottom: none;
    background-color: #8FC9D9;
	}
*/
/*input[type=text], input[type=password] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}*/

button {
  background-color: #243236;
  color: #c4e3ec;
  padding: 10px 15px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  /*width: %;*/
  opacity: 0.9;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #243236;
  color: #c4e3ec;
}

/*.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}*/

/*img.avatar {
  width: 20%;
  border-radius: 50%;
}*/

span.psw {
  float: right;
  padding-top: 16px;
}

/****************
   Report Page
*****************/
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.sleep {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
  width: 550px;
  height: 330px;
  background: transparent;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  display: flex;
}

.sleep .sleep-day {
  position: relative;
  flex: 1;
  text-align: center;
}
.sleep .sleep-day .graph {
  position: absolute;
  width: 40px;
  background: rgb(0, 0, 0, 1);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.sleep .sleep-day .graph::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 0;
  background: linear-gradient(0deg, #003ba5, #009ffe);
}
.sleep .sleep-day .graph::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(231, 29, 14, 0.1);
}
.sleep .sleep-day .graph .percent {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.sleep .sleep-day .name {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  background: #001e8a;
  padding: 2px 6px;
  border-radius: 4px;
}
.graphContainer {
  position: relative;
}

/****************
   Help Page
*****************/

.hovertext {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid rgb(2, 2, 2);
  text-align: center;
}

.hovertext::before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 2;
  width: block;
  background-color: rgb(0, 68, 255);
  color: rgb(228, 234, 235);
  text-align: center;
  border-radius: 2px;
  padding: 5px 0px;
  transition: opacity 0.1s ease-in-out;
  margin: 2pt;

  position: absolute;
  z-index: 1;
  left: 0px;
  top: 110%;
}

.hovertext:hover::before {
  opacity: 1;
  visibility: visible;
}
.form {
  float: right;
  padding-left: 5px;
  padding-right: 5px;
}

/* Screen size for a tablet */
@media screen and (max-width: 1024px) {
  body {
    margin: 0;
  }
  .wrapper {
    margin: 0;
    display: grid;
    grid-template-areas: "header" "nav" "main" "footer";
    width: 100%;
  }
  nav {
    height: 30px;
  }
  .headerSub {
    margin-left: 30%;
  }
}
/* Screen size for a mobile device */
@media screen and (max-width: 768px) {
  .wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  nav {
    height: 30px;
  }
  .headerSub {
    display: none;
  }
  .homeBox {
    width: 75%;
  }
  .column {
    width: 100%;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }

  .changepass {
    width: 50%;
    padding: 20px 18px;
  }
}
