.wrapper {
    margin: 0;
    display: grid;
    grid-template-areas:
      "header nav"
      "main main"
      "footer footer";
    width: 100%;
  }
  
  header {
    grid-area: header;
    color: white;
    background-color: #48656d;
    width: 100%;
    height: 80px;
    padding: 10px;
  }
  
  nav {
    grid-area: nav;
    color: #c4e3ec;
    background-color: #48656d;
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;

  }
  
  article {
    grid-area: main;
    background-color: #8fc9d9;
    width: 100%;
    height: 1000px;
    text-align: center;
  }
  
  footer {
    grid-area: footer;
    background-color: #48656d;
    width: 100%;
    height: 50px;
  }
  
  a {
    color: #8fc9d9;
  }

 